* {
    position: flex;
    padding-inline: #0074FF;
}
.my-logo {
    width: 150px;
    margin: 10 100;
}
.Email {
    width: 20em;
    margin: 0em 50 ;
    padding: 10px;
    bottom: 25rem;
    box-shadow: 2em solid;
}
.Password {
    width: 20em;
    margin: 5 50 ;
    padding: 10px;
    bottom: 25rem;
    box-shadow: 2em solid;
}
.Login {
    width: 20em;
    margin: 4 50 ;
    padding: 10px;
    bottom: 25rem;
    color: #FFFFFF;
    background: #0061FF;
    border-radius: 0.2em;
    border-color: #0061FF;
}
p {
    color: #0067FF;
    text-align: center;
    margin: 8 50;
}
.smit {
    width: 18em;
    margin: 10 10 10 40;
}
.or {
    top: 0.5em;
    text-align: center;
}
.create {
    width: 15em;
    margin: 23 75;
    padding: 10px;
    bottom: 25rem;
    border-radius: 0.2em;
    border-color: #2A9300;
    background-color: #2A9300;
    color: #FFFFFF;
}
p1 {
    color: #003FFF;
    margin: 30 30 50 50;
}
p2 {
    color: #003FFF;
    margin: 30 30 40 40;
}
p3 {
    color: #003FFF;
    margin: 30 30 40 40;
}
p4 {
    color: #003FFF;
    margin: 30 30 10 10;
}
p5 {
    color: #003FFF;
    margin: 30 30 50 50;
}
p6 {
    color: #003FFF;
    margin: 30 30 60 60;
}
p7 {
    color: #003FFF;
    margin: 30 30 40 40;
}
p8 {
    margin: 50rem 10 130 130;
    color: #767676;
}
i {
margin: 0 25;
}
